.NavigationWrapper {
  background-color: white;
}
.Navigation {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  a {
    padding: 10px;
    flex: 1;
    text-align: center;
    text-decoration: none;
  }
}
